<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 <proxies>
     <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>10.16.46.161</host>
      <port>3333</port>
      <username></username>
      <password></password>
      <nonProxyHosts>10.16.46.161|localhost|127.0.0.1</nonProxyHosts>
    </proxy>
  </proxies>
    <servers>
        <server>
           <id>ec_snapshots</id>
           <username>deployment</username>
           <password>deployment</password>
        </server>
         <server>
           <id>Releases</id>
           <username>deployment</username>
           <password>deployment</password>
        </server>
    </servers>
    <pluginGroups>
        <pluginGroup>com.googlecode.maven-overview-plugin</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>ec_java</id>
            <repositories>
                 <repository>
                    <id>ec_maven</id>
                    <name>ec_maven</name>
                    <url>http://10.16.46.161:8888/nexus/content/groups/ec_maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>ec_maven_central</id>
                    <name>ec_maven_central</name>
                    <url>http://10.16.46.161:8888/nexus/content/repositories/central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                
                <repository>
                    <id>ec_snapshots</id>
                    <url>http://10.16.46.161:8888/nexus/content/repositories/ec_snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>3rd party</id>
                    <name>Maven third</name>
                    <url>http://10.16.46.161:8888/nexus/content/repositories/thirdparty/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>Releases</id>
                    <name>Releases</name>
                    <url>http://10.16.46.161:8888/nexus/content/repositories/releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>       
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>ec_maven_plugin</id>
                    <name>ec_maven_plugin</name>
                    <url>http://10.16.46.161:8888/nexus/content/groups/ec_maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>


        </profile>
        <profile>    
           <id>jdk-1.8</id>    
          <activation>    
              <activeByDefault>true</activeByDefault>    
              <jdk>1.8</jdk>    
          </activation>    
        <properties>    
            <maven.compiler.source>1.8</maven.compiler.source>    
            <maven.compiler.target>1.8</maven.compiler.target>    
            <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>    
        </properties>    
       </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>ec_java</activeProfile>
    </activeProfiles>
</settings>

